<ion-tabs >
  <ion-tab-bar slot="bottom" style="border-top: solid 1px lightgrey;">
    <ion-tab-button tab="schedule">
      <ion-icon name="home"></ion-icon>
      <ion-label>Groups</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="speakers">
      <ion-icon name="cash"></ion-icon>
      <ion-label>Request</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="mail"></ion-icon>
      <ion-label>Mail</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>